div{
/*    text-align: center;*/
    margin-left: 80px;
    margin-top: 25px;
}
img{
    height: 600px;
    border-radius: 55px;
    margin-left: 12px;
}
.image{
    width: 70px;
}
.active{
    width: 800px;
}